*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url('https://source.unsplash.com/1600x900/?cosmos,astronomy');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin: 50px;
    padding: 5px 50px;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.577);
    
}
a{
    text-decoration: none;
    border-radius: 10px;
    background-color: aqua;
    font-size: 30px;
    padding: 20px;
    transition: padding 1s;
}
a:hover{
    background-color: aquamarine;
    padding: 20px 50px;
}